@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: Young Serif;
    color: hsl(24, 5%, 18%);
}

h2 {
    font-size: 28px;
    color: hsl(14, 45%, 36%);
    font-weight: 400;
}

p,
li {
    font-family: Outfit;
    color: hsl(30, 10%, 34%);
}
li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}
.colored-li{
    font-weight: 600;
    color: hsl(14, 45%, 36%);;
}

.fw{
    font-weight: 700;
}

ul,
ol {
    padding-left: 20px;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media screen and (min-width:320px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-container {
        padding: 35px;
    }

    .title {
        margin-bottom: 15px;
    }

    .prep-container {
        background-color: hsl(330, 100%, 98%);
        padding: 15px;
        margin: 25px 0px;
        border-radius: 10px;
    }

    .prep-container h3 {
        font-family: Outfit;
        color: hsl(332, 51%, 32%);
        margin-bottom: 10px;
    }

    .space{
        position: relative;
        left: 20px;
    }

    .prep-container li {
        margin-bottom: 10px;
    }

    .prep-container+h2 {
        margin-bottom: 15px;
    }

    .prep-container+h2+ul li {
        margin-bottom: 10px;
    }

    .prep-container+h2+ul {
        margin-bottom: 25px;
    }

    hr+h2{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h2+ol li{
        margin-bottom: 10px;
    }
    h2+ol{
        margin-bottom: 25px;
    }

    h2+p{
        margin-bottom: 20px;
    }
    div[class^="row"]{
        display: flex;
        gap: 60px;
    }

    .first-word{
        margin-left: 30px
    }
    div[class^="row"] p{
        width: 53px;
        line-height: 45px;
    }

}